Application Data/
Cookies/
Local Settings/
My DOcuments/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER>DAT*
OneDrive/
Saved GAmes/
Searches/
Videos/
ntuser.*
pemhttpd.exe
.bash_history
.cursor/
.gitconfig
.lesshst
.ssh/
.vscode/
3D Objects/
fork-me/
git_practice/
my-project/
repo/
testrepo/
